.inbox{
  border: 3px solid #474742;
	border-radius: 6px;
	width: 45%;
  transition: ease-in-out, width .35s ease-in-out;
	height: 25px;
  color: #474742;
	background-color: #ededc9;
	font-family: 'Lobster',  serif;
  font-size: 20px;
	text-align: center;
}
.inbox:focus{
	width: 60%;
}
