@import url("https://fonts.googleapis.com/css?family=Lobster");
.inbox {
  border: 3px solid #474742;
  border-radius: 6px;
  width: 45%;
  transition: ease-in-out, width .35s ease-in-out;
  height: 25px;
  color: #474742;
  background-color: #fff;
  font-family: 'Lobster',  serif;
  font-size: 20px;
  text-align: center; }

.inbox:focus {
  width: 60%; }

.listTypes {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 150px; }

.listabilities {
  list-style: none;
  display: flex;
  flex-direction: column; }

.ability {
  font-family: 'Lobster',  serif;
  font-size: 15px;
  border: 2px solid #474742;
  background-color: #fff7a3;
  padding: 2px;
  border-radius: 6px;
  width: 150px;
  margin: auto; }

.card {
  text-decoration: none;
  border: 3px solid #474742;
  border-radius: 16px;
  text-align: center; }

.card--details {
  margin-left: 80px;
  margin-right: 80px; }

.image {
  width: 150px;
  height: 150px;
  border-radius: 80%; }

.image--box {
  background-color: #ffff;
  border-radius: 14px 14px 0px 0px; }

.info {
  background-color: #de4141;
  border-radius: 0px 0px 13px 13px;
  padding: 15px 0px; }

.id {
  width: 60px; }

.box {
  display: flex;
  justify-content: center; }

.name {
  font-family: 'Lobster',  serif;
  font-size: 25px; }

.evolution {
  text-decoration: none;
  font-family: serif;
  font-size: 18px; }

.type {
  font-family: 'Lobster',  serif;
  font-size: 15px;
  border: 2px solid #474742;
  background-color: #fff7a3;
  padding: 2px;
  border-radius: 6px; }

body {
  margin: 0px; }

h2 {
  margin-top: 0px;
  margin-bottom: 0px; }

.app {
  display: block;
  position: relative; }

.app::after {
  content: "";
  background: url(../images/pokemon_640x960_039.jpg);
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.title {
  font-family: 'Lobster',  serif;
  font-size: 50px;
  text-align: center;
  padding: 30px;
  color: #474742;
  font-weight: 400;
  margin: 0 0 25px;
  overflow: hidden; }

.listNames {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  padding: 20px; }

.back--button {
  width: 36px;
  height: 36px;
  border: none;
  margin-left: 25px; }
